*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.weather-app{
    background-image: url("./images/day/cloudy.jpg");
    background-repeat: no-repeat;
    min-height:100vh;
    background-size: cover;
    background-position:center;
    color:white;
    position:relative;
}
.weather-app::before{
    position:absolute;
    content:"";
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0,3);
    z-index:0;
}
h3,h1{
    font-weight: 400;
}
.container{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding:2em 3em 4em 3em;
}
.weather{
    display:flex;
    justify-content: center;
    align-items:center;
}
.temp,.cityname,.weatherimg{
        margin:0 1em;

}
.weather>span{
    margin:0;
}
.weather h1{
    font-size:3em;
    margin-bottom:0.2em;
}
.weatherimg{
    display:block;
    margin:0.5em 0;
}
.temp{
    font-size:7em;
}
.sidepanel{
    position:absolute;
    right:0;
    width:40%;
    height:100%;
    top:0;
    background: rgb(110, 110, 110,0.25);
    box-shadow: 0 8px 32px 0
                rgba(0,0,0,0.3);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255.0.18);
    z-index:1;
    padding:3em 2em;
    overflow-Y:scroll;
}
.sidepanel form{
    margin-bottom: 3em;
}
.submit{
    position:absolute;
    top:0;
    right:0;
    padding:1.5rem;
    margin:0;
    border:0;
    outline:none;
    background: #fa6d1b;
    color:#fff;
    cursor:pointer;
    font-size:1.2em;
    transition:0.4s;
}
.submit:hover{
    background-color: #fff;
    color:#000;
}
input[type="text"]{
    background: none;
    border:none;
    border-bottom:1px #ccc solid;
    padding:0 1em 0.5em 0;
    background: transparent;
    width:80%;
    color:#fff;
    font-size:1.1em;
}
input[type="text"]:focus{
    outline: none;
}
input[type="text"]::placeholder{
    color:#ccc;
}
.sidepanel ul{
    padding:0 0 1em 0;
    margin:2em 0;
    border-bottom: 1px #ccc solid;
    list-style-type: none;
}
.sidepanel ul li{
    color:#ccc;
    margin:3em 0;
}

.city{
    display:block;
    cursor:pointer;
}

.city:hover{
    color: #fff;
}
.details li{
   display: flex;
   justify-content: space-between;
   align-items: center; 
}
span{
    align-self:self-end;
}
@media screen and (max-width:800px) {
    .sidepanel,.container{
        position:relative;
        width:100%;
        top: initial;
    }
    
}
@media screen and (max-width:500px){
    html{
        font-size: 12px;
    }
}

@media screen and(max-height:300px){
    .weather-app{
        min-height: 40em;
    }
}